### Modules in Python
- datetime
    - The datetime module in Python provides the set of classes for working with dates, time, time intervals and time zone
    - datetime
    - date
    - time
    - timezone

In [1]:
import datetime

In [2]:
now = datetime.datetime.now()

In [3]:
now

datetime.datetime(2023, 5, 23, 19, 8, 8, 79239)

In [4]:
my_date = datetime.date(2023,1,30)
my_date

datetime.date(2023, 1, 30)

In [5]:
my_time = datetime.time(12,20,32)

In [6]:
my_time

datetime.time(12, 20, 32)

In [8]:
my_timezone = datetime.timezone.utc
my_timezone

datetime.timezone.utc

In [9]:
formatted_date = now.strftime('%d-%m-%Y')
formatted_date

'23-05-2023'

In [10]:
formatted_date = now.strftime('%Y-%m-%d')
formatted_date

'2023-05-23'

In [15]:
# How the cal the age of the person in years
from datetime import date
def cal_age(birth_date):
    today = date.today()
    age = today.year - birth_date.year
    return age

In [16]:
birth_date = date(1990,1,30)
cal_age(birth_date)

33

In [17]:
# How the cal the age of the person in moths
from datetime import date
def cal_age_months(birth_date):
    today = date.today()
    age_years = today.year - birth_date.year
    age_in_months = age_years*12 + (today.month-birth_date.month)
    return age_in_months

In [18]:
birth_date = date(1990,1,30)
cal_age_months(birth_date)

400

In [19]:
from datetime import datetime
def cal_age_days(birth_date):
    current_date = datetime.now().date()
    age = current_date - birth_date
    return age.days

In [20]:
birth_date = date(1990,1,30)
cal_age_days(birth_date)

12166

In [23]:
from datetime import datetime
def cal_age_months(birth_date):
    current_date = datetime.now().date()
    age = current_date - birth_date
    return age.month

In [25]:
birth_date = date(1990,1,30)
cal_age_months(birth_date)

AttributeError: 'datetime.timedelta' object has no attribute 'month'

In [26]:
import json

In [27]:
data = {'name':'Anil Kumar','age':30,'city':'Hyderabad'}
print(data,type(data))

{'name': 'Anil Kumar', 'age': 30, 'city': 'Hyderabad'} <class 'dict'>

In [28]:
json_string = json.dumps(data)
json_string

'{"name": "Anil Kumar", "age": 30, "city": "Hyderabad"}'

In [29]:
type(json_string)

str

In [30]:
s = '{"name": "Anil Kumar", "age": 30, "city": "Hyderabad"}'
data = json.loads(s)
data

{'name': 'Anil Kumar', 'age': 30, 'city': 'Hyderabad'}

In [31]:
type(data)

dict

In [32]:
data['name']

'Anil Kumar'

In [33]:
data = {'name':'Anil Kumar','age':30,'city':'Hyderabad'}
with open('data.json','w') as file:
    json.dump(data,file)

In [34]:
with open('data.json','r') as file:
    data = json.load(file)
data

{'name': 'Anil Kumar', 'age': 30, 'city': 'Hyderabad'}

In [36]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql.connector'