### connecting to database server using python
1. import the package
    1. oracle ==> cx_Oracle
    2. Microsoft SQL server ==> pymssql
    3. MYSQL ==> pymysql
    4. SQLite ==>sqlite3
2. Establish connection b/w python and DB using connect()
3. create cursor object for executing a query and to hold the result
4. execute query
5. fetch the results
6. DML commands commit()
7. close cursor,con

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('sample.db')

In [3]:
cur = con.cursor()

### creating a table:

In [4]:
#CREATE TABLE DEPARTMENT (ID INT,DEPT TEXT,SALARY REAL);
cur.execute("CREATE TABLE DEPARTMENT (ID INT,DEPT TEXT,SALARY REAL);")
cur.close()
con.close()

### Inserting single record values into the table:

In [6]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("INSERT INTO DEPARTMENT VALUES (1,'POLICE',12345.00);")
con.commit()
cur.close()
con.close()

### Inserting multiple record values into the table:

In [8]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
n = int(input("Enter how many records you want to insert?"))
for i in range(n):
    id = int(input("Enter id value:"))
    dept = input("Enter department:")
    sal = float(input("Enter salary value:"))
    query = "INSERT INTO DEPARTMENT VALUES (?,?,?);"
    cur.execute(query,(id,dept,sal))
    con.commit()
cur.close()
con.close()

Enter how many records you want to insert?2
Enter id value:3
Enter department:security
Enter salary value:20000
Enter id value:4
Enter department:IT
Enter salary value:30000

### Updating a record:

In [9]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("UPDATE DEPARTMENT SET SALARY = 300000 WHERE ID=4;")
con.commit()
cur.close()
con.close()

### Deleting a record:

In [10]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("DELETE FROM DEPARTMENT WHERE ID=4;")
con.commit()
cur.close()
con.close()

### Fetch the records:

In [15]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
obj = cur.execute("SELECT * FROM DEPARTMENT;")
print(obj)

<sqlite3.Cursor object at 0x0000020D8A89EEA0>

In [16]:
for i in obj:
    print(i)

(1, 'POLICE', 12345.0)
(2, 'education', 100000.0)
(3, 'security', 20000.0)

In [17]:
cur.close()
con.close()

### Alter ==> adding a new a column or rename a table

In [18]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("ALTER TABLE DEPARTMENT ADD COLUMN LOC TEXT;")
cur.close()
con.close()

In [23]:
import sqlite3
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("ALTER TABLE Department RENAME TO DEPT_DETAILS;")
cur.close()
con.close()

### Drop a table

In [24]:
con = sqlite3.connect('sample.db')
cur = con.cursor()
cur.execute("DROP TABLE DEPT_DETAILS;")
cur.close()
con.close()