### Data Structures of Python
- List
- Tuple
- Dict
- Set

### List
- List is one of the mutable object in python which means it uses for some operations like insert, update and delete
- All these operations can be perfomed over the set of methods in python
- List can be enclosed within square brackets[], and each of the list item will be seperated from the comma operators
- List size can't be fixed

In [1]:
list1 = [1,2,5,6,'Application',19.22]

In [2]:
print(list1,type(list1))

[1, 2, 5, 6, 'Application', 19.22] <class 'list'>

In [3]:
# Iterate the list
for x in range(len(list1)):
    print(list1[x],end = ' ')

1 2 5 6 Application 19.22

In [4]:
for x in range(len(list1)):
    if x > 0 and x < 2:
        print(list1[x],end = ' ')

2

In [5]:
# Slicing - 
# Start index - 0
# End index - len(list1) - 1
print(list1[0:])

[1, 2, 5, 6, 'Application', 19.22]

In [6]:
# Start index - 2
# end Index - 5 (Last index will be -1 of it)
list1[2:5]

[5, 6, 'Application']

In [7]:
# Here start - 0 end - len(list1) - 1 and Step : 2
list1[::2]

[1, 5, 'Application']

In [8]:
# start 0 and end - len(list1) - 1 and step : 3
list1[0::3]

[1, 6]

In [9]:
# start - 0 and End - 4 and step : 3
list1[0:4:3]

[1, 6]

In [10]:
# start - 0 and end - 4 and Step : 2
list1[0:4:2]

[1, 5]

In [11]:
# Update the list value
list1[2] = 199.19

In [12]:
list1

[1, 2, 199.19, 6, 'Application', 19.22]

In [13]:
# Delete a value from the given list
del list1[2]

In [14]:
list1

[1, 2, 6, 'Application', 19.22]

### Functions of List
- len()
- max()
- min()
- sum()

In [15]:
print('Len - ',len(list1))

Len -  5

In [16]:
print('Max - ',max(list1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
print('Max Value - ',max(1,1.0))
print('Max Value - ',max(12,12.0))

Max Value -  1
Max Value -  12

In [18]:
print('Max Value - ',max(1.0,1))
print('Max Value - ',max(12,12.0))

Max Value -  1.0
Max Value -  12

In [20]:
list1 = [1.0,1]
print(max(list1[0],list1[1]))

1.0

In [21]:
if list1[0] == list1[1]:
    print('Yes')
else:
    print('No')

Yes

### Method of List
- Insert
    - append()
    - extend()
    - insert()
- Delete
- Sort
- Remove

In [22]:
list1 = [1,2,19,25,11,3]
list1

[1, 2, 19, 25, 11, 3]

In [23]:
list1.append(8)

In [24]:
list1

[1, 2, 19, 25, 11, 3, 8]

In [25]:
list1.append([199,18,113])

In [26]:
list1

[1, 2, 19, 25, 11, 3, 8, [199, 18, 113]]

In [27]:
list1[2] = 888

In [28]:
list1

[1, 2, 888, 25, 11, 3, 8, [199, 18, 113]]

In [29]:
list1[-1][1] = 999

In [30]:
list1

[1, 2, 888, 25, 11, 3, 8, [199, 999, 113]]

In [31]:
list1.extend(766)

TypeError: 'int' object is not iterable

In [32]:
list1.extend([1991])

In [33]:
list1

[1, 2, 888, 25, 11, 3, 8, [199, 999, 113], 1991]

In [34]:
list1.extend([1990,1992,1002])

In [35]:
list1

[1, 2, 888, 25, 11, 3, 8, [199, 999, 113], 1991, 1990, 1992, 1002]

In [36]:
list1.insert(1,2992)

In [37]:
list1

[1, 2992, 2, 888, 25, 11, 3, 8, [199, 999, 113], 1991, 1990, 1992, 1002]

In [38]:
del list1[-2]

In [39]:
list1

[1, 2992, 2, 888, 25, 11, 3, 8, [199, 999, 113], 1991, 1990, 1002]

In [40]:
list1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [41]:
## Single List - flatten list
def flatten_list(list1):
    final_list = []
    for x in list1:
        if type(x) is list:
            for i in x:
                final_list.append(i)
        else:
            final_list.append(x)
    return final_list

In [42]:
print(flatten_list(list1))

[1, 2, 3, 8, 11, 25, 888, 2992, 199, 999, 113, 1991, 1990, 1002]

In [43]:
input_list1 = [1,2,3,[11,12,[13,15,16]]]
print(flatten_list(input_list1))

[1, 2, 3, 11, 12, [13, 15, 16]]

In [ ]:
## Single List - flatten list
def flatten_list_1(list1):
    final_list = []
    for x in list1:
        if type(x) is list:
            # Call the same function again
        else:
            final_list.append(x)
    return final_list

In [ ]:
# Algorithmns : Search Algos : Binary Search and Linear Search