### Merge Sort
- It works on Divide and Conquar Approch
- Divide the Unsorted list into n sublists, untill each sublist has only 1 element
- Repeatedly merge sublists to produce the new list.
- Time Complexitity:
    - Best Case   O(n log n)
    - Worst Case  O(n log n)
    - Worst Case  O(n log n)

In [1]:
def merge_sort(lst1):
    if len(lst1) > 1:
        mid = len(lst1) // 2
        # Find the left half
        left_half = lst1[:mid]
        # Find the right half
        right_half = lst1[mid:]
        # Recursion
        merge_sort(left_half)
        merge_sort(right_half)
        
        # Variables
        i  = 0
        j  = 0 
        k  = 0
        
        # 1 Loop
        while i < len(left_half) and j < len(right_half):
            if left_half[i] < right_half[j]:
                lst1[k] = left_half[i]
                i = i + 1
            else:
                lst1[k] = right_half[j]
                j = j + 1
            k = k + 1
        # 2 Loop
        while i < len(left_half):
            lst1[k] = left_half[i]
            i = i + 1
            k = k + 1
        # 3 loop
        while j < len(right_half):
            lst1[k] = right_half[j]
            j = j + 1
            k = k + 1
        
    return lst1

In [2]:
lst1 = [19,1,23,12,22,2,18,7,199,25]
merge_sort(lst1)

[1, 2, 7, 12, 18, 19, 22, 23, 25, 199]

### Tuple
- Tuple is Immutable Object, it means it will not allow to us to insert, update and delete
- Tuple can used when you need to read the data from the certain resource
- Tuple generally written in python with Paraenthsism each item of the tuple is seperated from comma operator
- Tuple can be used as key for the dict but not list
- In terms of time complexity tuple is more faster than list
- Here wer have limited methods in tuple

In [3]:
t1 = (1,2,3,4,5)
print(t1,type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [4]:
for i in range(len(t1)):
    print('Index = ',i,'Value = ',t1[i])

Index =  0 Value =  1
Index =  1 Value =  2
Index =  2 Value =  3
Index =  3 Value =  4
Index =  4 Value =  5

In [5]:
t1[2] = 199

TypeError: 'tuple' object does not support item assignment

In [6]:
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
# Slice
t1[:2]

(1, 2)

In [8]:
# Reverse Tuple
t1[::-1]

(5, 4, 3, 2, 1)

In [9]:
# If you want to convert from list to tuple we have two methods tuple() and list()

In [10]:
print(t1,type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [11]:
l1 = list(t1)
print(l1,type(l1))

[1, 2, 3, 4, 5] <class 'list'>

In [12]:
t2 = tuple(l1)
print(t2,type(t2))

(1, 2, 3, 4, 5) <class 'tuple'>

### Dictionary In Python
- A Dict can be created by placing a sequence elements within curly {} braces
- Dict holds pair of values, one being a Key and other corresponding pair element 
- Each pair of key/value is seperated from comma operator
- Dict is immutable object, means it can perform the different operations such as insert,update and delete
- Dict keys are case sensitive and it should be unique name, if it duplicate the key will shows as error

In [13]:
d1 = {1:'a',2:'b',3:'c'}

In [14]:
print(d1,type(d1))

{1: 'a', 2: 'b', 3: 'c'} <class 'dict'>

In [15]:
d2 = {1:'a','xyz':'abc',3:'c'}

In [16]:
print(d2,type(d2))

{1: 'a', 'xyz': 'abc', 3: 'c'} <class 'dict'>

In [17]:
print(d1.keys())

dict_keys([1, 2, 3])

In [18]:
print(d2.keys())

dict_keys([1, 'xyz', 3])

In [19]:
print(d1.values())

dict_values(['a', 'b', 'c'])

In [20]:
print(d2.values())

dict_values(['a', 'abc', 'c'])

In [21]:
print(d2['xyz'])

abc

In [22]:
print(d2['XYZ'])

KeyError: 'XYZ'

In [23]:
d2['g'] = 199

In [24]:
d2

{1: 'a', 'xyz': 'abc', 3: 'c', 'g': 199}

In [25]:
d2.get(3)

'c'

In [26]:
d1.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [27]:
for key,value in d1.items():
    print('Key = ',key,' Value = ',value)

Key =  1  Value =  a
Key =  2  Value =  b
Key =  3  Value =  c

In [28]:
for key,value in d2.items():
    print('Key = ',key,' Value = ',value)

Key =  1  Value =  a
Key =  xyz  Value =  abc
Key =  3  Value =  c
Key =  g  Value =  199

In [29]:
del d2['g']

In [30]:
d2

{1: 'a', 'xyz': 'abc', 3: 'c'}

In [31]:
d2['xyz'] = 1881

In [32]:
d2

{1: 'a', 'xyz': 1881, 3: 'c'}

### Contact Application
- Adding a Contact

In [33]:
contact = {}

In [34]:
def add_Contact(name,phone):
    if name not in contact:
        contact[name] = phone
        return "Contact is added successfully"
    return "Name is already exists in the contacts"

In [36]:
add_Contact('Anil','9987771171')

'Contact is added successfully'

In [37]:
contact

{'Anil': '9987771171'}

In [38]:
add_Contact('Jay','8878777121')

'Contact is added successfully'

In [39]:
contact

{'Anil': '9987771171', 'Jay': '8878777121'}

In [40]:
add_Contact('Jay','8878777121')

'Name is already exists in the contacts'

- Search the contact

In [43]:
def search_contact(name):
    if name in contact:
        return name + contact[name]

    return "Name is not exists"

In [44]:
search_contact('Anil')

'Anil9987771171'

- Delete a Contact

In [45]:
def delete_contact(name):
    if name in contact:
        del contact[name]
        return "Contact is deleted successfully"
    return "Name is not found"

In [46]:
delete_contact('Anil')

'Contact is deleted successfully'

In [47]:
contact

{'Jay': '8878777121'}

In [48]:
delete_contact('Naveen')

'Name is not found'

In [49]:
{'Anil':[9988,8899,1188]}

{'Anil': [9988, 8899, 1188]}