### List Methods and Examples
- Copy
    - Shallow Copy and Deep Copy
- reverse
    - Reverse the list

In [1]:
list1 = [1,2,4,11,3,4,12]

In [2]:
my_list1 = list1.copy()

In [3]:
list1

[1, 2, 4, 11, 3, 4, 12]

In [4]:
my_list1

[1, 2, 4, 11, 3, 4, 12]

In [5]:
list1.append(199)

In [6]:
print(list1)
print(my_list1)

[1, 2, 4, 11, 3, 4, 12, 199]
[1, 2, 4, 11, 3, 4, 12]

In [7]:
my_list2 = list1

In [8]:
print(list1)
print(my_list2)

[1, 2, 4, 11, 3, 4, 12, 199]
[1, 2, 4, 11, 3, 4, 12, 199]

In [9]:
my_list2.append(299)

In [10]:
print(list1)
print(my_list2)

[1, 2, 4, 11, 3, 4, 12, 199, 299]
[1, 2, 4, 11, 3, 4, 12, 199, 299]

In [11]:
import copy

In [12]:
l1 = [1,2,[3,5],4]
l2 = copy.deepcopy(l1)

In [13]:
print(l1)
print(l2)

[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

In [14]:
l2[2][0] = 100

In [15]:
print(l1)
print(l2)

[1, 2, [3, 5], 4]
[1, 2, [100, 5], 4]

In [18]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199]
print(list1.reverse())
print(list1)

None
[199, 12, 4, 3, 11, 4, 2, 1]

In [19]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
list1.count(2)

2

In [20]:
list1.count(18881)

0

### Count() Manual Implementation

In [24]:
def task_1(list1,target):
    count = 0
    for i in list1:
        if i == target:
            count += 1            
    return count

In [25]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
task_1(list1,2)

2

In [26]:
task_1(list1,199911)

0

### Return the position of the target items

In [30]:
def task_2(list1,target):
    for i in range(len(list1)):
        if list1[i] == target:
            print(i+1,end = ' ')
    return

In [31]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
task_2(list1,2)

2 11

In [32]:
list1[::-1]

[4, 2, 4, 1, 199, 12, 4, 3, 11, 4, 2, 1]

In [33]:
def reverse_insert(list1):
    new_list = []
    for i in list1:
        new_list.insert(0,i)
    return new_list

In [34]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
reverse_insert(list1)

[4, 2, 4, 1, 199, 12, 4, 3, 11, 4, 2, 1]

In [36]:
list(reversed(list1))

[4, 2, 4, 1, 199, 12, 4, 3, 11, 4, 2, 1]

In [37]:
def reverse_swap_list(list1):
    left = 0
    right = len(list1) - 1
    while left < right:
        temp = list1[left]
        list1[left] = list1[right]
        list1[right] = temp
        left += 1
        right -= 1
    return list1

In [38]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
reverse_swap_list(list1)

[4, 2, 4, 1, 199, 12, 4, 3, 11, 4, 2, 1]

### Sorting Algorithms
- **Bubble Sort**
- **Insertion Sort**
- **Quick Sort**
- **Selection Sort**
- **Merge Sort**

In [40]:
def bubble_sort(list1):
    for i in range(len(list1)):
        for j in range(len(list1)-1):
            if list1[j] > list1[j+1]:
                list1[j],list1[j+1] = list1[j+1],list1[j]
    return list1

In [41]:
list1 = [1, 2, 4, 11, 3, 4, 12, 199,1,4,2,4]
bubble_sort(list1)

[1, 1, 2, 2, 3, 4, 4, 4, 4, 11, 12, 199]